*{
    padding:0;
    margin:0;
}
body, html, div{
    margin: 0px;
}
.c1{
    color: #fff;
}
.c2 {
    color: #000;
}
.c3 {
    color: #ff3300;
}
body, html, div{
    margin: 0px;
}

/*MENU*/
.menu{
    background-color:#ff3300;
    width: auto;
    height: 50px;
    padding: 0px 40px 0px 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.315);
}
.logo{
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.menu nav ul{
    float: right;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.menu nav ul li{
    float: right;
    position: relative;
    padding: 15px 0px 0px 5px;
}
.menu nav ul li a{
    text-decoration: none;
    color: #9b2d12;
}

.menu nav ul li a:hover{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
/*BANNER*/
#hero{
    text-align: center;
    max-width: 100%;
    position: relative;
}
.title a{
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    position: absolute;
    color: #fff;
    margin-left: -100px;
    margin-top: -100px;
    left:50%;
    width:auto;
    background-color: #ff3300;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.315);
    text-decoration: none;
}
.title a:hover{
   font-family: 'roboto', sans-serif;
   font-weight: 700;
   position: absolute;
   color: #fff;
   margin-left: -100px;
   margin-top: -100px;
   left:50%;
   width:auto;
   background-color: #ff3300;
   padding: 10px 20px;
   border-radius: 50px;
   text-decoration: none;
}

/*CORES DISPONÍVEIS*/
div ul li{
   position: relative;
   display: inline-block;
}

.HCores{
   list-style: none;
   position:relative;
   text-align: center;
}
.title2{
    text-align: center;
    font-family: 'roboto',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.text {
    text-align: center;
    font-family: 'roboto',sans-serif;
    color: #c3c3c3;
}
/*DESCRIÇÃO*/
.title3{
    text-align: center;
    font-family: 'roboto',sans-serif;
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
}

.conteudo2{
    padding: 20px;
}
.conteudo3{
    padding: 20px;
}
.text2 {
   color: #636363;
   font-family: 'roboto',sans-serif;
   text-align: center;
   line-height: 25px;
}
.dir{
    width: 50%;
    float: right;
    text-align: center;
}

.esq{
    width: 50%;
    float: left;
    text-align: center;
}
/*.phonepreto {
    width: 50%;
}*/

.text3 {
    color: #636363;
    font-family: 'roboto',sans-serif;
    padding: 20px 50px 20px 0px;
    position: absolute;
    margin-left: 110px;
    line-height: 25px;
}
.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #c3c3c3;
    -webkit-box-shadow: 9px 3px 3px rgba(50, 50, 50, 0.329);
	-moz-box-shadow:    9px 3px 3px rgba(50, 50, 50, 0.329);
	box-shadow:         9px 3px 3px rgba(50, 50, 50, 0.329);
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #eb5631;
    border-top-left-radius: 20px;
    
}
.lista{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.tabela2{
    border-radius: 20px;
    padding: 20px;
    background-color: #ff3300;
    color: #fff;
}
.headtable {
    text-align: left;
    text-transform: uppercase;
}
label{
    font-family: 'roboto', sans-serif;
}
option{
    font-family: 'roboto', sans-serif;
}
.formulario{
    padding: 20px;
    text-align: center;
}
input, select, textarea{
    margin-bottom: 5px;
}
.bnt{
    background-color: #ff3300;
    font-family: 'roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid coral;
    padding: 5px 10px;
}
.bnt:hover{
    background-color: #ff3300;
    font-family: 'roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #9b2d12;
    padding: 5px 10px;
}